body{
  background-image:url('../images/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}

.rocket{
  position: absolute;
  transition: all 1s ;
  bottom: 0px;
  height: auto;
  width: 30%;
}

.rocket2{ 
  left: 30%;
}
.rocket3{
  left: 60%;
}

