body{
  background-image:url('../images/map.png');
  background-size: 100%;
  background-repeat: no-repeat;
  
  
}


.rocket1{
  position: absolute;
  transition: all 1s ;
  bottom: 0px;
  
}
.rocket2{
  position: absolute;
  transition: all 1s ;
  bottom: 0px;
  left: 300px;
}
.rocket3{
  position: absolute;
  transition: all 1s ;
  bottom: 0px;
  left: 600px;
}

