
* {
  box-sizing: border-box;
}
body {
  font-family: 微軟正黑體;
}
.wrap{
  width: 1080px;
  margin: 0 auto;
  border: 1px solid black;
}
.banner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424242;
  padding-top: 50px;
  padding-bottom: 50px;
}
.key-in-box{
  width: 18%;
  margin-left: 100px;
  margin-right: 100px;
}
::placeholder{
  color: #b1b1b1;
}
.key-in-box p{
color: #ffd366;
margin-bottom: 5px;
margin-top: 20px;
}
.key-in-box input{
  border: 2px solid #ffd366;
  border-radius: 8px;
  background: #646464;
  height: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  padding-left: 10px;
  letter-spacing: 1px;
  color: white;
}

.result-btn input{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  color: #424242;
  border: #ffd366;
  background: #ffd366;
  letter-spacing: 1px;
  font-size: 18px;
}
.result-btn input:hover{
  box-shadow:0 0 5px 5px #86713c;
}
.result-btn input:active{
  background: #dea821;
  box-shadow: none;
}

.circle-out{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: #86d73f;
  position: relative;
  margin-right: 10px;
}
.circle-in{
  width: 108px;
  height: 108px;
  border-radius: 100%;
  background: #424242;
  position: absolute;
  top: 6px;
  left: 6.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.BMI-result{
  color: #86d73f;
  line-height: 1.3;
}
.BMI-value{
  font-size: 28px;
}
.BMI{
  font-size: 10px;
  text-align: center;
}
.ideal{
  color: #86d73f;
  font-size: 32px;
  
}
.icon-loop-out{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  right: 0px;
  background: #424242;
}
.icon-loop-in{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #86d73f;
  display: flex;
  justify-content: center;
  align-items: center;

}